<div class="introduction">
    <h2 class="ui header">{{formProperty.schema.title}}
        <div class="sub header">{{formProperty.schema.description}}</div>
    </h2>
    <div *ngIf="formProperty.schema.title || formProperty.schema.description" class="ui hidden divider"></div>
</div>
<div *ngFor="let fieldset of formProperty.schema.fieldsets">
  <h3 class="ui dividing header" *ngIf="fieldset.title">{{fieldset.title}}
    <div class="sub header" *ngIf="fieldset.description">{{fieldset.description}}</div>
  </h3>
	<div class="field" *ngFor="let fieldId of fieldset.fields">
    <sf-form-element [formProperty]="formProperty.getProperty(fieldId)"></sf-form-element>
  </div>
  <div class="ui hidden divider"></div>
</div>