<div *ngIf="formProperty.schema.title || formProperty.schema.description" class="introduction">
    <h2 class="ui header border-bottom mb-3">{{formProperty.schema.title}}
        <div class="sub header">{{formProperty.schema.description}}</div>
    </h2>
    <div class="border-bottom my-3" style="border-color:transparent !important; "></div>
</div>
<div class="ui field basic segment">
  <div *ngFor="let fieldset of formProperty.schema.fieldsets">
    <h2 class="ui header border-bottom mb-3" *ngIf="fieldset.title">{{fieldset.title}}
      <div class="sub header" *ngIf="fieldset.description">{{fieldset.description}}</div>
    </h2>

    <div class="border-bottom my-3" style="border-color:transparent !important; "></div>
    
    <div class="{{fieldset.grouping}}">
      <div class="ui field basic segment" *ngFor="let fieldId of fieldset.fields">
        <sf-form-element [formProperty]="formProperty.getProperty(fieldId)"></sf-form-element>
      </div>
    </div>
    <div class="border-bottom my-3" style="border-color:transparent !important; "></div>
  </div>
</div>