    <div [ngSwitch]="this.fieldType" [ngClass]="!schema.requiredField ? 'widget form-group field' : 
    (control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required field error' : 'widget form-group required field'" >
      <ng-container *ngSwitchCase="0">          
        
        <div  *ngIf="(this.filterOperator === '=') || (this.filterOperator === '!='); else plainStringInput">
          <autocomplete-input-field [inputFormGroup]="control" [filterfield]="this.selectedField.name"></autocomplete-input-field>
        </div>
        <ng-template #plainStringInput>

          <input [name]="name" [attr.readonly]="(schema.widget.id!=='color') && schema.readOnly?true:null"
          class="text-widget.id textline-widget form-control" type="text"
          [attr.id]="id"  [formControl]="control" [attr.placeholder]="schema.placeholder"
          [attr.maxLength]="schema.maxLength || null"
          [attr.minLength]="schema.minLength || null"
          [attr.disabled]="(schema.widget.id=='color' && schema.readOnly)?true:null">
        </ng-template>

      </ng-container>
      <ng-container *ngSwitchCase="1">

          <input (input)="numericChangeHandler($event)" (change)="numericChangeHandler($event)"
          [name]="name" [attr.readonly]="(schema.widget.id!=='color') && schema.readOnly?true:null"
          class="text-widget.id textline-widget form-control" type="number" inputmode="numeric"
          [attr.id]="id" [formControl]="control" [attr.placeholder]="schema.placeholder"
          [attr.maxLength]="schema.maxLength || null"
          [attr.minLength]="schema.minLength || null"
          [attr.disabled]="(schema.widget.id=='color' && schema.readOnly)?true:null">
      </ng-container>
      <ng-container *ngSwitchCase="2">

          <input (input)="numericChangeHandler($event)" (change)="numericChangeHandler($event)"
          [name]="name" [attr.readonly]="(schema.widget.id!=='color') && schema.readOnly?true:null"
          class="text-widget.id textline-widget form-control" type="number" inputmode="decimal"
          [attr.id]="id"  [formControl]="control" [attr.placeholder]="schema.placeholder"
          [attr.maxLength]="schema.maxLength || null"
          [attr.minLength]="schema.minLength || null"
          [attr.disabled]="(schema.widget.id=='color' && schema.readOnly)?true:null">
      </ng-container>
      <ng-container *ngSwitchCase="3">

          <input [name]="name" [attr.readonly]="(schema.widget.id!=='color') && schema.readOnly?true:null"
          class="text-widget.id textline-widget form-control" type="date"
          [attr.id]="id"  [formControl]="control" [attr.placeholder]="schema.placeholder"
          [attr.maxLength]="schema.maxLength || null"
          [attr.minLength]="schema.minLength || null"
          [attr.disabled]="(schema.widget.id=='color' && schema.readOnly)?true:null">
      </ng-container>
      <ng-container *ngSwitchDefault>
        <input [name]="name" class="text-widget.id textline-widget form-control"
        [attr.id]="id"  [formControl]="control" [attr.placeholder]="schema.placeholder" disabled>
      </ng-container>
  </div>