<div class="widget form-group field">
  <label [attr.for]="id" class="horizontal control-label">
    {{schema.title}}
  </label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>
  <input *ngIf="schema.readOnly; else librarySelection" [attr.name]="name" type="hidden" [formControl]="control">
  <ng-template #librarySelection>
    <sui-select class="selection" [options]="supportedLibraries" [formControl]="control" [attr.name]="name" [attr.disabled]="schema.readOnly"
      placeholder="Select Library" #librarySelect>    
      <sui-select-option *ngFor="let library of librarySelect.filteredOptions" [value]='library'></sui-select-option>
    </sui-select>
  </ng-template>
</div>