<div class="ui equal width form clearing segment" [formGroup]="filterFormGroup">
  
  <div class="field">
    <select-attribute formControlName="field" [chosenEntity]="chosenEntity"
    [entityTreeNode]="entityTreeNode" (fieldChanged)=fieldChanged($event)></select-attribute>
  </div>

  <div *ngIf="this.selectedField " class="field">
    <sui-select class="selection" formControlName="type" placeholder="Select Operator" 
    [options]="operators" (selectedOptionChange)=operatorChanged($event)
    labelField="filterName" valueField="filterOperator" #operatorSelect>
    
      <sui-select-option *ngFor="let operator of operatorSelect.filteredOptions" [value]="operator"></sui-select-option>
    </sui-select>
  </div>

  <div class="field" formArrayName="values">
    <div *ngFor="let filterValue of values.controls; index as i">
      <div [ngSwitch]="this.fieldType">
        <div [ngClass]=" this.filterOperator ? 'ui action input' : 'ui action disabled input'">

          <ng-container *ngSwitchCase="0">          
            
            <autocomplete-input-field class="ui icon input" [inputFormGroup]="filterValue" [filterValueIndex]="i" 
            [filterfield]="this.selectedField.name"></autocomplete-input-field>
            
          </ng-container>
          <ng-container *ngSwitchCase="1">
              <input [formControlName]="i" type="number" name="filterValue" placeholder="Value"> 
          </ng-container>
          <ng-container *ngSwitchCase="2">
              <input [formControlName]="i" type="number" name="filterValue" placeholder="Value"> 
          </ng-container>
          <ng-container *ngSwitchCase="3">
              <input [formControlName]="i" type="date" name="filterValue" placeholder="Value"> 
          </ng-container>

          <button (click)="deleteFilterValue(i)" type="button" 
          class="ui icon compact button"><i class="close icon"></i></button>
        </div>
        <span *ngIf="applicableDivider(i)" class="ui horizontal divider">OR</span>

      </div>
    </div>
  </div>

  <button (click)="addFilterValue()" type="button" 
  class="circular ui icon basic blue compact left floated button">OR</button>

  <button (click)="deleteFilterEvent.emit()" type="button" 
  class="circular ui icon basic compact right floated button"><i class="close icon"></i></button>
</div>