<!-- <div formGroupName="queryForm"> -->
<button type="button" class="ui labeled top attached icon basic primary compact button" (click)="addFilter()">
  <i class="plus icon"></i>Add Filter</button>
<div class="ui attached list" formArrayName="filters">
  <div *ngFor="let filter of filters.controls; index as i">
    
      <query-filter (deleteFilterEvent)="removeFilter(i)" [filterFormGroup]="filter"
       [chosenEntity]="chosenEntity" [entityTreeNode]="entityTreeNode" [filterIndex]='i'></query-filter>
  </div>
</div>
<!-- </div> -->

