<div [ngClass]="!schema.requiredField ? 'widget form-group field' : 
(control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required field error' : 'widget form-group required field'">
  <label>{{schema.title}}</label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>  
  <div [ngClass]="schema.inline ? 'inline fields' : 'grouped fields'">
    <div class="field" *ngFor="let option of schema.oneOf" (click)="handleChange(option.enum[0])">
      <label>
        <input type="radio" [formControl]="control" [id]="id" [name]="name" [disabled]="schema.readonly" [readonly]="schema.readOnly" value="{{option.enum[0]}}">
        {{option.description}}</label>
    </div>
  </div>
</div>