<div [ngClass]="!schema.requiredField ? 'widget form-group field' : 
    (control.touched || control.dirty) && (!this.control.valid)  ? 
    'widget form-group required field error' : 'widget form-group required field'">
  <label [attr.for]="id" class="horizontal control-label">
      {{ schema.title }}
  </label>
  <div *ngIf="schema.type!='array'">
    <label>
      <input type="checkbox" [formControl]="control" [id]="id" [name]="name" [disabled]="schema.readonly" value>
      {{schema.description}}
      <i *ngIf="this.schema.tooltip" class="tiny circular info icon right floated" placement="right" ngbTooltip="{{this.schema.tooltip}}"></i>
    </label>
  </div>
</div>