input{
    text-align:center !important;
}

input:read-only{
    cursor: pointer !important;
}

/* .noleftpadding {
    padding-left: 0 !important;
}

.norightpadding {
    padding-right: 0 !important;
} */

.blue.text {
    color: rgb(8, 131, 192);
    font-size: 1.1rem;
}

.ui.centered.grid.link.noleftpadding.item.active {
    border-color: rgb(8, 131, 192) !important;
}