<div class="ui form" [formGroup]="queryForm">

  <div class="introduction">
      <h2 class="ui header">{{chartQueryDataName}}
          <div class="ui hidden divider"></div>
          <div class="sub header">Describe the data you want to appear on your chart</div>
      </h2>
  </div>

  <h4 class="ui dividing header">Y Axis</h4>
  <div class="required inline field">
    <ng-template let-option #entityOptionTemplate>
        {{ option | titlecase }}
    </ng-template>
    <sui-select class="selection" formControlName="entity"
                placeholder="Select Entity" 
                [options]="availableEntities"
                [optionTemplate]="entityOptionTemplate"
                (selectedOptionChange)=entityChanged($event)
                #entitySelection>
      <sui-select-option *ngFor="let availableEntity of entitySelection.filteredOptions" [value]="availableEntity"></sui-select-option>
    </sui-select>
    <label></label>
  </div>

  <div [ngClass]="(chosenEntity == '') ? 'disabled field' : 'enabled'">
    <div formGroupName="selectY">
        <div class="required inline field">
            <ng-template let-option #aggregateOptionTemplate>
                {{ option | titlecase }}
            </ng-template>
            <sui-select class="selection" formControlName="aggregate"
                        placeholder="Select Aggregate" 
                        [options]="availableAggregates"
                        [optionTemplate]="aggregateOptionTemplate"
                        #aggregateSelection>
              <sui-select-option *ngFor="let availableAggregate of aggregateSelection.filteredOptions" [value]="availableAggregate"></sui-select-option>
            </sui-select>
          <label></label>
      </div>
      <div [ngClass]="(totalAggregateEnabled()) ? 'disabled field' : 'enabled field'">
        <span class="ui hidden horizontal divider"> of </span>
        <div class="field">
          <select-attribute formControlName="field" [chosenEntity]="chosenEntity" [entityTreeNode]="entityTreeRoot"></select-attribute>
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">X Axis</h4>
    <div formArrayName="selectXs">
      <div *ngFor="let selectX of selectXs.controls; index as i" [formGroupName]="i">
        <select-attribute formControlName="field" [chosenEntity]="chosenEntity" [entityTreeNode]="entityTreeRoot"></select-attribute>
      </div>
    </div>

    <h4 class="ui dividing header">Filters</h4>
    <query-filter-selector [filters]="filters" [chosenEntity]="chosenEntity" [entityTreeNode]="entityTreeRoot"></query-filter-selector>

  </div>
</div>
