<div [ngClass]="!schema.requiredField ?
 'widget form-group field' :
 (control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required field error' : 'widget form-group required field'"
     *ngIf="this.formProperty.visible">
  <label [attr.for]="id" class="horizontal control-label">
    {{schema.title}}
  </label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>
  <input *ngIf="schema.readOnly; else queryNameSelection" [attr.name]="name" type="hidden" [formControl]="control">
  <ng-template #queryNameSelection>
<!--    <ng-template let-option #entityOptionTemplate>-->
<!--      {{ option | titlecase }}-->
<!--    </ng-template>-->
    <sui-select class="selection" (change)="printChange($event)" [options]="test" [formControl]="control" [attr.name]="name" [attr.disabled]="schema.readOnly"
                placeholder={{schema.placeholder}} labelField="name" valueField="name" #entitySelect>
      <sui-select-option *ngFor="let queryName of entitySelect.filteredOptions" [value]='queryName'></sui-select-option>
    </sui-select>
  </ng-template>
</div>
