<div *ngIf="isVisible | async">
<div [ngClass]="!schema.requiredField ? 
'widget form-group field' : 
(control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required field error' : 'widget form-group required field'">
  <label [attr.for]="id" class="horizontal control-label">
    {{schema.title}}
  </label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>
  <input *ngIf="schema.readOnly; else chartTypeSelection" [attr.name]="name" type="hidden" [formControl]="control">
  <ng-template #chartTypeSelection>
    <select class="custom-select" [formControl]="control"  [attr.name]="name"
    [attr.disabled]="schema.readOnly" [id]="id">
      <option *ngIf="schema.placeholder" [label]="schema.placeholder" [value]="null" disabled></option>
      <option *ngIf="!schema.placeholder" label="Select one" [value]="null" disabled></option>
      <option *ngFor="let option of supportedChartTypes" [value]="option">{{option | titlecase}}</option>
    </select>
  </ng-template>
</div>
</div>
