<div *ngIf="isVisible | async">
<div [ngClass]="!schema.requiredField ? 
'widget form-group field' : 
(control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required field error' : 'widget form-group required field'">
  <label [attr.for]="id" class="horizontal control-label">
    {{schema.title}}
  </label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>
  <input *ngIf="schema.readOnly; else chartTypeSelection" [attr.name]="name" type="hidden" [formControl]="control">
  <ng-template #chartTypeSelection>
    <ng-template let-option #chartTypeOptionTemplate>
        {{ option| titlecase }}
    </ng-template>
    <!--TODO Select Dropdown <sui-select class="selection" [formControl]="control"
    [attr.name]="name" [attr.disabled]="schema.readOnly"
                placeholder={{schema.placeholder}} 
                [options]="supportedChartTypes"
                [optionTemplate]="chartTypeOptionTemplate"
                #chartTypeSelect>
      <sui-select-option *ngFor="let chartType of chartTypeSelect.filteredOptions" [value]="chartType"></sui-select-option>
    </sui-select> -->
  </ng-template>
</div>
</div>
