<div [ngClass]="!schema.requiredField ? 'widget form-group field' : 
(control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required field error' : 'widget form-group required field'">
	<label [attr.for]="id" class="horizontal control-label">
		{{ schema.title }}
		<i *ngIf="this.schema.tooltip" class="tiny circular info icon right floated" placement="right" ngbTooltip="{{this.schema.tooltip}}"></i> 
	</label>
	<span *ngIf="schema.description" class="formHelp">
		{{schema.description}}
	</span>
  
	<select class="custom-select" *ngIf="schema.type!='array'" [formControl]="control"  [attr.name]="name"
	[attr.disabled]="schema.readOnly" [id]="id">
		<option *ngIf="schema.placeholder" [label]="schema.placeholder" disabled></option>
		<option *ngIf="!schema.placeholder" label="Select one" disabled></option>
		<option *ngFor="let option of schema.oneOf" [value]="option.value">{{option.description}}</option>
	</select>
	
	<select multiple class="custom-select" *ngIf="schema.type==='array'" [formControl]="control"  [attr.name]="name"
	[attr.disabled]="schema.readOnly" [size]="schema.size" [id]="id">
		<option *ngIf="schema.placeholder" [label]="schema.placeholder" disabled></option>
		<option *ngIf="!schema.placeholder" label="Select {{schema.size}}" disabled></option>
		<option *ngFor="let option of schema.oneOf" [value]="option.value">{{option.description}}</option>
	</select>
  
  <input *ngIf="schema.readOnly" [attr.name]="name" type="hidden" [formControl]="control" [id]="id">
</div>