.ui.form.segment > [class*="right floated"] {
  float: right !important;
  margin-right: 0em !important;
  margin-left: 1em !important;
}

a, a:visited {
  text-decoration: none;
  position: relative;
  color: #069;
  cursor: pointer;
  font-size: 1.1rem;
}
.link.button::after, a:visited:after {
  content: '';
  height: 1px;
  position: absolute;
  top: 1.5em;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #069;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}
.link.button:hover:after, a:visited:hover:after {
  width: 100%;
}
a.block, a:visited.block {
  display: block;
  padding: 0.5em;
}
a.block:hover, a:visited.block:hover {
  background: #fff;
}