<div [ngClass]="!schema.requiredField ? 'widget form-group fluid field' : 
(control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required fluid field error' : 'widget form-group required fluid field'">
  <label [attr.for]="id" class="horizontal control-label">
    {{schema.title}}
  </label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>
  <input *ngIf="schema.readOnly; else operatorSelection" [attr.name]="name" type="hidden" [formControl]="control">
  <ng-template #operatorSelection>
    <!--TODO Select Dropdown <sui-select class="selection" style="min-width: 5em !important" [options]="operators | async"
          [formControl]="control" [attr.name]="name" 
          [attr.disabled]="schema.readOnly" placeholder={{schema.placeholder}}
          labelField="filterName" valueField="filterOperator" #operatorsSelect>    
      <sui-select-option *ngFor="let operator of operatorsSelect.filteredOptions" [value]='operator'></sui-select-option>
    </sui-select> -->
  </ng-template>
</div>