<div [ngClass]="!schema.requiredField ? 'widget form-group fluid field' : 
(control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required fluid field error' : 'widget form-group required fluid field'">
  <label [attr.for]="id" class="horizontal control-label">
    {{schema.title}}
  </label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>
  <div *ngIf="!schema.readOnly; else readOnly">
    <select class="custom-select" *ngIf="schema.type!='array'" [formControl]="control"  [attr.name]="name"
    [attr.disabled]="schema.readOnly" [id]="id">
      <option *ngIf="schema.placeholder" [label]="schema.placeholder" disabled></option>
      <option *ngIf="!schema.placeholder" label="Select one" disabled></option>
      <option *ngFor="let option of (operators | async)" [value]="option.filterOperator">{{option.filterName}}</option>
    </select>
  </div>

  <ng-template #readOnly>
    <input [attr.name]="name" type="hidden" [formControl]="control">
  </ng-template>
</div>