<div class="widget form-group field">
  <label [attr.for]="id" class="horizontal control-label">
    {{schema.title}}
  </label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>
  <input *ngIf="schema.readOnly; else operatorSelection" [attr.name]="name" type="hidden" [formControl]="control">
  <ng-template #operatorSelection>
    <sui-select class="selection" [options]="operators | async"
          [formControl]="control" [attr.name]="name" 
          [attr.disabled]="schema.readOnly" placeholder={{schema.placeholder}}
          labelField="filterName" valueField="filterOperator" #operatorsSelect>    
      <sui-select-option *ngFor="let operator of operatorsSelect.filteredOptions" [value]='operator'></sui-select-option>
    </sui-select>
  </ng-template>
</div>