@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/buttons";
// @import "../../node_modules/bootstrap/scss/utilities/spacing";
// @import "../../node_modules/bootstrap/scss/grid";


// .action-button {
//     @extend .btn;
//     @extend .btn-outline-primary;
//     @extend .mr-3;
//     @extend .col-4;
// }
.action-buttons {
    display: flex;
}
.btn-group.btn-group-lg
{
    height: 100%;
    width: fit-content;
}
.btn-group.btn-group-lg > button.btn
{
    padding: 0.9em 1.53em;

    @include media-breakpoint-down(md)
    { padding: 0.6em 1.02em }
    @include media-breakpoint-down(sm)
    { padding: 0.4em 0.68em }
}
button.btn
{
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-around;
    border-radius: 2em;
    padding: .5em 2em;
}

.url-holder {
    overflow-wrap: break-word;
    text-align: center;
    overflow: hidden;
    display: block;
    max-width: 20em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.export-description {
    text-align: center;
}

.ui.menu {
    padding: 1rem 1rem;
}

.ui.menu .item::before {
    background: none;
}

.ui.menu .item > img:not(.ui) {
    width: 200px;
}