<ng-template let-popup #exportPopUp>
    <div class="ui content">
        <p class="ui center aligned basic segment">A JSON representation of the chart has just been saved !</p>
    </div>
</ng-template>

<ng-template let-popup #loadPopUp>
    <div class="ui content">
        <div class="ui center aligned basic segment">
            <div>
            <!-- TODO <sui-dimmer class="inverted" [(isDimmed)]="this.chartLoadingService.chartLoadingStatus"> -->
                <div class="ui text loader">Loading Chart</div>
            <!-- </sui-dimmer> -->
            </div>
            <input id="fileElem" type="file" style="display:none" accept=".json" (change)="this.dfhs.loadForm($event)">
            <div class="ui labeled button" (click)="initiateFilePicker()">
                <div class="ui basic icon button"><i class="plus icon"></i></div>
                <div id="fileName" class="ui basic label">
                    {{ ((this.dfhs.loadFormObjectFile !== null) ? this.dfhs.loadFormObjectFile.name : 'Select File') | slice:0:20 }}</div>
            </div>
        </div>
        <!-- <p class="ui center aligned basic segment">Chart model is loaded!</p> -->
    </div>
</ng-template>

<ng-template let-popup #publishPopUp >
    <div class="ui content">

        <ng-container *ngIf="dfhs.isxAxisRequired">
            <h4 class="ui centered header">Generated Chart TinyUrl</h4>
            <div class="ui small text container fluid segment">
                <div class="ui active centered inline loader" *ngIf="(chartExportingService.loadingChartTinyUrl$ | async); else chartTinyUrlNotLoading">

                </div>
                <ng-template #chartTinyUrlNotLoading>
                    <a target="_blank" rel="noopener noreferrer" href="{{chartExportingService.chartTinyUrl$ | async}}"
                       class="url-holder">{{chartExportingService.chartTinyUrl$ | async}}</a>
                </ng-template>
            </div>
        </ng-container>

        <ng-container *ngIf="dfhs.isxAxisRequired">
            <h4 class="ui centered header">Generated Table TinyUrl</h4>
            <div class="ui small text container fluid segment">
                <div class="ui active centered inline loader" *ngIf="(chartExportingService.loadingTableTinyUrl$ | async); else tableTinyUrlNotLoading">

                </div>
                <ng-template #tableTinyUrlNotLoading>
                    <a target="_blank" rel="noopener noreferrer" href="{{chartExportingService.tableTinyUrl$ | async}}"
                       class="url-holder">{{chartExportingService.tableTinyUrl$ | async}}</a>
                </ng-template>
            </div>
        </ng-container>

        <ng-container *ngIf="dfhs.isxAxisRequired">
            <h4 class="ui centered header">Generated Raw Chart Data TinyUrl</h4>
            <div class="ui small text container fluid segment">
                <div class="ui active centered inline loader" *ngIf="(chartExportingService.loadingRawChartDataTinyUrl$ | async); else rawChartDataTinyUrlNotLoading">

                </div>
                <ng-template #rawChartDataTinyUrlNotLoading>
                    <a target="_blank" rel="noopener noreferrer" href="{{chartExportingService.rawChartDataTinyUrl$ | async}}"
                       class="url-holder">{{chartExportingService.rawChartDataTinyUrl$ | async}}</a>
                </ng-template>
            </div>
        </ng-container>

        <h4 class="ui centered header">Generated Raw Data TinyUrl</h4>
        <div class="ui small text container fluid segment">
            <div class="ui active centered inline loader" *ngIf="(chartExportingService.loadingRawDataTinyUrl$ | async); else rawDataTinyUrlNotLoading">

            </div>
            <ng-template #rawDataTinyUrlNotLoading>
                <a target="_blank" rel="noopener noreferrer" href="{{chartExportingService.rawDataTinyUrl$ | async}}"
                   class="url-holder">{{chartExportingService.rawDataTinyUrl$ | async}}</a>
            </ng-template>
        </div>

    </div>
</ng-template>

<header class="Site-header container-fluid">
    <div class="row no-gutters">
        <div class="col-4">
            <!-- Statistic Chart Generator -->
            <img class="header-stats-img img-fluid" src="https://www.openaire.eu/images/OpenAIRE_branding/Logo_Horizontal.png" alt="OpenAIRE">
        </div>
        <div class="col-8 no-gutters">
            <div class="three ui big basic buttons">
                    <div>
                    <!--TODO <div class="ui vertical animated button item" tabindex="0" suiPopup (onOpen)="handlePopUpOpen($event)" [popupTemplate]="publishPopUp" [popupPlacement]="popupPlacement" popupTrigger="outsideClick" #publishpopup="suiPopup"
                    (click)="togglePublishPopUp(publishpopup)"> -->
                        <div class="visible content"><b>Publish</b></div>
                        <div class="hidden content"><i class="large share alternate icon"></i></div>
                    </div>
                    <!--TODO <div class="ui vertical animated button item" suiPopup [popupTemplate]="loadPopUp" [popupPlacement]="popupPlacement" popupTrigger="outsideClick"> -->
                    <div>
                        <div class="visible content" style="padding-inline-start: 0.5rem"><b>Load</b></div>
                        <div class="hidden content"><i class="large upload icon"></i></div>
                    </div>
                    <!--TODO <div class="ui vertical animated button item" suiPopup [popupTemplate]="exportPopUp" [popupPlacement]="popupPlacement" popupTrigger="outsideClick" #exportpopup="suiPopup"
                    (click)="exportChart(exportpopup)"> -->
                    <div>
                        <div class="visible content"><b>Export</b></div>
                        <div class="hidden content"><i class="large save icon"></i></div>
                    </div>
            </div>
        </div>
    </div>
</header>

<main class="Site-content">
    <chart-creator [loadedChart]="dfhs.loadFormObject" ></chart-creator>
</main>

<footer class="Site-footer container-fluid">
    <div class="row no-gutters">
        <div class="col openaire-euflag">
            <div>
                <img sizes="(min-width: 126px) 126px" data-width="126" data-height="30" class="el-image" alt="OpenAIRE" src="https://www.openaire.eu/templates/yootheme/cache/Logo_Horizontal_white_small-74927fe1.png" srcset="https://www.openaire.eu/templates/yootheme/cache/Logo_Horizontal_white_small-74927fe1.png 126w">
            </div>
            <div>
                <img src="https://www.openaire.eu/images/Logos/flag_black_white_low.jpg" width="126" data-width="427" data-height="285" class="el-image" alt="European Commission">
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col cc-attribution">
            <a href="http://creativecommons.org/licenses/by/4.0/" rel="license"> <img uk-svg="" hidden="true">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class=" uk-svg">
                    <g data-name="Creative Commons" id="Creative_Commons">
                        <circle cx="12" cy="12" r="11.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round"/>
                        <path d="M10.87,10a3.5,3.5,0,1,0,0,4" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round"/>
                        <path d="M18.87,10a3.5,3.5,0,1,0,0,4" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round"/>
                    </g>
                </svg>&nbsp;
                <img uk-svg="" hidden="true">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" class=" uk-svg">
                        <g id="Attribution">
                            <g data-name="<Group>" id="_Group_">
                                <circle cx="12" cy="5" data-name="<Path>" id="_Path_" r="1.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round"/>
                                <path d="M12,8a5,5,0,0,0-3.07.71,1,1,0,0,0-.43.83V15H10v5.5h4V15h1.5V9.54a1,1,0,0,0-.43-.83A5,5,0,0,0,12,8Z" data-name="<Path>" id="_Path_2" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round"/>                            
                            </g>
                            <circle cx="12" cy="12" r="11.5" style="fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round"/>
                        </g>
                    </svg>
            </a>&nbsp;Unless otherwise indicated, all materials created by OpenAIRE are licenced under&nbsp;
            <a href="http://creativecommons.org/licenses/by/4.0/" rel="license" style="color: #fff;">CC ATTRIBUTION 4.0 INTERNATIONAL LICENSE</a>.
        </div>
    </div>
</footer>
