.url-holder {
    overflow-wrap: break-word;
    text-align: center;
    overflow: hidden;
    display: block;
    max-width: 20em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.export-description {
    text-align: center;
}

.ui.menu {
    padding: 1rem 1rem;
}

.ui.menu .header.item {
    /* padding-left: 3rem !important; */
}

.ui.menu + .ui.grid {
    /* padding-top: 10rem; */
}

.ui.menu .item::before {
    background: none;
}

.ui.menu .item > img:not(.ui) {
    width: 200px;
}