.url-holder {
    overflow-wrap: break-word;
    text-align: center;
    max-height: 2cm;
    overflow-y: auto
}

.export-description {
    text-align: center;
}

.ui.fixed.menu {
    padding: 1rem 1rem;
}

.ui.menu .header.item {
    padding-left: 3rem !important;
}

.ui.fixed.menu + .ui.grid {
    padding-top: 10rem;
}

.ui.menu .item::before {
    background: none;
}

.ui.menu .item > img:not(.ui) {
    width: 200px;
}