<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <ul ngbNav #nav="ngbNav"  class="nav" orientation="vertical" [destroyOnHide]="false">
                <li [ngbNavItem]="i" *ngFor="let itemProperty of formProperty.properties; let i = index; trackBy:trackByIndex" [attr.id]="getDataSeriesName(i) | async">
                    <a ngbNavLink>
                        <div class="container-fluid">
                            <div *ngIf="dataseriesTabService.isEditable[i]; else notEditable">
                                <input autoFocus type="text" (blur)="disableEditable(i)"
                                       [value]="getDataSeriesName(i) | async" (change)="setDataSeriesName(i, $event)">
                            </div>
                            <!-- TODO pressing enter to stop editing opens the Clear modal. This happens because the focus must be on that element -->
                            <ng-template #notEditable>
                                <h4 (dblclick)="enableEditable(i)" style="word-break: break-all; padding-left: 0; padding-right: 0"
                                    class="ui center aligned item mb-3"> {{getDataSeriesName(i) | async}} </h4>
                            </ng-template>

                            <button *ngIf="menuArrayLength > 1" class="mini fluid compact ui icon basic bottom attached button"
                                    [ngbPopover]="deleteDataseriesPrompt" #deletePrompt="ngbPopover" triggers="manual" [autoClose]="'outside'"
                                    (click)="deletePrompt.open()">
                                <ng-template let-popup #deleteDataseriesPrompt>
                                    <div class="ui center aligned grid">
                                        <div class="column">
                                            <h5 class="ui header">Deleting {{getDataSeriesName(i) | async}}</h5>
                                            <p>Are you sure ?</p>
                                            <div class="buttons">
                                                <button class="ui tiny compact positive button" (click)="removeItem(i, $event)">Yes</button>
                                                <button class="ui tiny compact negative button" (click)="deletePrompt.close()">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <i class="close icon"></i>
                            </button>
                        </div>
                    </a>
                    <ng-template ngbNavContent>
                        <div class="container-fluid no-gutters">
                            <sf-form-element [formProperty]="itemProperty"></sf-form-element>
                        </div>
                    </ng-template>
                </li>
                <li class="nav-item" ngbNavItem="dataseries-add-action" [disabled]="true">
                    <div class="pointer-events-auto p-4 text-center">
                        <button type="button" class="btn btn-primary" (click)="addItem()">Add Data</button>
                    </div>
                </li>
            </ul>
        </div>

        <div [ngbNavOutlet]="nav" class="ml-4 col-10"></div>
    </div>
</div>