<div *ngIf="this.diagramInitialised" class="row justify-content-center align-content-center">
  <ngb-alert [type]="'warning'" [dismissible]="false">
      <p class="m-0"><i class="exclamation icon"></i>Choosing a new Category will reset all your <b>Data</b> changes!</p>
  </ngb-alert>
</div>

<div class="row" *ngIf="this.diagramCategoryService.supportedChartTypes.length > 0">
  <div class="ui basic container">
  <h3 class="ui dividing header">Basic Diagrams</h3>
  <div class="ui stackable centered cards">
      <a class="card text-decoration-none" *ngFor="let basicDiagram of this.diagramCategoryService.supportedChartTypes"
      [ngStyle]=(this.setSelectedCardStyle(this.isDiagramSelected(basicDiagram.type)))
      (click)="this.diagramSelectionAction(basicDiagram.type)">
        <div class="image">
          <img src="assets/images/imagePlaceholder.svg" alt="Diagram Image">
        </div>
        <div class="content">
          <a class="center aligned header">{{basicDiagram.type | titlecase}}</a>
        </div>
      </a>
  </div>
  </div>
</div>
<div class="row" *ngIf="this.diagramCategoryService.supportedMaps.length > 0">
  <div class="ui basic container">
  <h3 class="ui dividing header">Map Diagrams</h3>
  <div class="ui stackable centered cards">
    <a class="card text-decoration-none" *ngFor="let mapDiagram of this.diagramCategoryService.supportedMaps"
    [ngStyle]=(this.setSelectedCardStyle(this.isDiagramSelected(mapDiagram.type)))
    (click)="this.diagramSelectionAction(mapDiagram.type)">
        <div class="image">
          <img src="assets/images/imagePlaceholder.svg" alt="Diagram Image">
        </div>
        <div class="content">
          <a class="center aligned header">{{mapDiagram.type | titlecase}}</a>
        </div>
      </a>
  </div>
  </div>
</div>
<div class="row" *ngIf="this.diagramCategoryService.supportedSpecialisedDiagrams.length > 0">
  <div class="ui basic container">
  <h3 class="ui dividing header">Specialised Diagrams</h3>
  <div class="ui stackable centered cards">
      <a class="card text-decoration-none" *ngFor="let specialisedDiagram of this.diagramCategoryService.supportedSpecialisedDiagrams"
      [ngStyle]=(this.setSelectedCardStyle(this.isDiagramSelected(specialisedDiagram.type)))
      (click)="this.diagramSelectionAction(specialisedDiagram.type)">
          <div class="image">
            <img src="assets/images/imagePlaceholder.svg" alt="Diagram Image">
          </div>
          <div class="content">
            <a class="center aligned header">{{specialisedDiagram.type | titlecase}}</a>
          </div>
        </a>
  </div>
  </div>
</div>
<div class="row" *ngIf="this.diagramCategoryService.supportedMiscTypes?.length > 0">
    <div class="ui basic container">
        <h3 class="ui dividing header">Miscellaneous</h3>
        <div class="ui stackable centered cards">
            <a class="card text-decoration-none" *ngFor="let miscType of this.diagramCategoryService.supportedMiscTypes"
               [ngStyle]=(this.setSelectedCardStyle(this.isDiagramSelected(miscType.type)))
               (click)="this.diagramSelectionAction(miscType.type)">
                <div class="image">
                    <img src="assets/images/numberPlaceholder.png" alt="Diagram Image" style="max-width: 150px">
                </div>
                <div class="content">
                    <a class="center aligned header">{{miscType.type | titlecase}}</a>
                </div>
            </a>
        </div>
    </div>
</div>
