.data-tree-invisible {
    display: none;
  }
  
.data-tree ul,
.data-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

#data-tree-button {
    background-color: white;
    padding: 0em !important
}

#data-tree-entity-field {
    font-weight: bold;
}

/* Every mat-nested-tree-node li wraps around its content */
.mat-nested-tree-node li{
    width: fit-content !important;
}

/* Makes the dropdown menu bigger and enables the horizontal scroll bar */
.ui.fluid.selection.dropdown .menu {
    max-height: 300px !important;
    overflow-x: auto !important;
}

/* Makes the selected item's background white, while selected */
.ui.dropdown .menu .selected.item, .ui.dropdown.selected {
    background: white ;
}

/* Same as above, but while on hover */
.ui.dropdown .menu>.item:hover {
    background: white ;
}