<div class="ui equal width form" formGroupName="properties">
    
    <div class="required field" >
    <label>Library</label>
    <select class="ui library dropdown " formControlName="library">    
        <option value={{formPlaceholders.library}} >Select Library</option>
        <option *ngFor="let library of supportedLibraries" value='{{library}}'>{{library}}</option>
    </select>
    </div>
    
    <div class="required field">
    <label>Chart Type</label>
    <select class="ui chart-type dropdown " formControlName="type">    
        <option value={{formPlaceholders.chartType}} >Select Chart Type</option>
        <option *ngFor="let type of supportedChartTypes" value='{{type}}'>{{type | titlecase}}</option>
    </select>
    </div>

    <div class="field">
    <label>Main Title</label>
    <input type="text" formControlName="title" placeholder='{{formPlaceholders.chartTitle}}' >
    </div>
</div>

