<div class="ui equal width form" formGroupName="properties">

    <!-- <ng-template  #mappingModal> -->
    <div class="ui mapping modal"> 
        <div class="header">
            Select mapping
        </div>
        <div class="content">
            <div class="ui three centered stackable cards">
            <div class="ui card" *ngFor="let profile of profileMappings">
                <div class="content">
                    <div class="header"><h2>{{profile.name}}</h2></div>
                    <div class="description">{{profile.description}}</div>
                </div>
                <button (click)="cardButtonAction(profile)" class="ui bottom attached basic blue button">Select</button>
            </div>
            </div>
        </div>
    </div>
    <!-- </ng-template> -->

    <div class="introduction">
        <h2 class="ui header">Properties
            <div class="ui hidden divider"></div>
            <div class="sub header">Set the general attributes of your chart</div>
        </h2>
    </div>

    <div class="ui hidden divider"></div>

    <div class="profile inline field" (click)="showProfilePicker(null)">
        <label>User Profile</label>
        <input style="border: 0; text-align: center;" readonly type="text" value='{{profile.value===null ? null : profile.value.name}}'>
    </div>

    <div class="ui divider"></div>

    <div class="required field" >
    <label>Library</label>
    <sui-select class="selection" formControlName="library"
                [options]="supportedLibraries"
                placeholder="Select Library"
                #librarySelect>    
        <sui-select-option *ngFor="let library of librarySelect.filteredOptions" [value]='library'></sui-select-option>
    </sui-select>
    </div>
    
    <div class="required field">
    <label>Chart Type</label>
    <sui-select class="selection" formControlName="type"
                [options]="supportedChartTypes"
                placeholder="Select Chart Type"
                [optionFormatter]="dropdownFormatter"
                #chartTypeSelect>
        <sui-select-option *ngFor="let type of chartTypeSelect.filteredOptions" [value]='type'>{{type | titlecase}}</sui-select-option>
    </sui-select>
    </div>

    <div class="fields">
        <div class="required field">
        <label>Y axis Label</label>
        <input type="text" formControlName="yaxisName" placeholder='{{formPlaceholders.yaxisName}}' >
        </div>

        <div class="required field">
        <label>X axis Label</label>
        <input type="text" formControlName="xaxisName" placeholder='{{formPlaceholders.xaxisName}}' >
        </div>
    </div>

    <div class="field">
    <label>Main Title</label>
    <input type="text" formControlName="title" placeholder='{{formPlaceholders.chartTitle}}' >
    </div>
</div>

