<div class="ui equal width form" formGroupName="properties">

    <div class="ui mapping modal">
        <div class="header">
          Select mapping
        </div>
        <div class="content">
            <div class="ui three centered stackable cards">
            <div class="ui card" *ngFor="let profile of profileMappings">
                <div class="content">
                    <div class="header"><h2>{{profile.name}}</h2></div>
                    <div class="description">{{profile.description}}</div>
                </div>
                <button (click)="cardButtonAction(profile)" class="ui bottom attached basic blue button">Select</button>
            </div>
            </div>
        </div>
    </div>

    <div class="profile inline field" (click)="showProfilePicker()">
        <label>User Profile</label>
        <input style="border: 0" readonly type="text" value='{{profile.value===null ? null : profile.value.name}}'>
    </div>

    <div class="ui divider"></div>

    <div class="required field" >
    <label>Library</label>
    <select class="ui library dropdown " formControlName="library">    
        <option value={{formPlaceholders.library}} >Select Library</option>
        <option *ngFor="let library of supportedLibraries" value='{{library}}'>{{library}}</option>
    </select>
    </div>
    
    <div class="required field">
    <label>Chart Type</label>
    <select class="ui chart-type dropdown " formControlName="type">    
        <option value={{formPlaceholders.chartType}} >Select Chart Type</option>
        <option *ngFor="let type of supportedChartTypes" value='{{type}}'>{{type | titlecase}}</option>
    </select>
    </div>

    <div class="fields">
        <div class="required field">
        <label>Y axis Label</label>
        <input type="text" formControlName="yaxisName" placeholder='{{formPlaceholders.yaxisName}}' >
        </div>

        <div class="required field">
        <label>X axis Label</label>
        <input type="text" formControlName="xaxisName" placeholder='{{formPlaceholders.xaxisName}}' >
        </div>
    </div>

    <div class="field">
    <label>Main Title</label>
    <input type="text" formControlName="title" placeholder='{{formPlaceholders.chartTitle}}' >
    </div>
</div>

