<input *ngIf="this.getInputType()==='hidden'; else notHiddenFieldBlock"
  [attr.name]="name" type="hidden" [formControl]="control">
<ng-template #notHiddenFieldBlock>
<div [ngClass]="!schema.requiredField ? 'widget form-group field' : 
(control.touched || control.dirty) && (!this.control.valid)  ? 
'widget form-group required field error' : 'widget form-group required field'">
    <label [attr.for]="id" class="horizontal control-label" >
      {{ schema.title }}
      <i *ngIf="this.schema.tooltip" class="tiny circular info icon right floated" suiPopup popupPlacement="right"
      popupText={{this.schema.tooltip}} popupHeader={{this.schema.tooltipHeader}}></i>
    </label>
    <span *ngIf="schema.description" class="formHelp">{{schema.description}}</span>
    <input [name]="name" [attr.readonly]="(schema.widget.id!=='color') && schema.readOnly?true:null"
    class="text-widget.id textline-widget form-control" [attr.type]="this.getInputType()"
    [attr.id]="id"  [formControl]="control" [attr.placeholder]="schema.placeholder"
    [attr.maxLength]="schema.maxLength || null"
    [attr.minLength]="schema.minLength || null"
    [attr.disabled]="(schema.widget.id=='color' && schema.readOnly)?true:null">
    <input *ngIf="(schema.widget.id==='color' && schema.readOnly)" [attr.name]="name" type="hidden" [formControl]="control">
</div>
</ng-template>