<div class="ui basic formClear modal">
    <div class="ui icon header">
        <i class="exclamation triangle icon"></i>
        <h2>Clear all changes</h2>
    </div>
    <div class="content">
        <div class="ui center aligned basic segment">
            <p class="large text">Are you sure you want to remove all recent changes?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui center aligned basic segment">
            <button class="ui red cancel inverted button" >
                <i class="remove icon"></i>No</button>
            <button class="ui green basic ok inverted button" (click)="this.reset(form)">
                <i class="checkmark icon"></i>Yes</button>
        </div>
    </div>
</div>

<form class="ui form grid" id="formContainer">

    <div class="fourteen wide column" >
        <div class="ui basic segment">
            <sf-form #form [schema]="fs.formSchema" [model]="loadedChart" [validators]="fs.customValidators" 
            (onChange)="dynamicFormChanged($event)" (onErrorChange)="this.errorsChange($event)"></sf-form>        
        </div>
        <!-- <pre> {{formValue | json}} </pre> -->
    </div>


    <div class="two wide column">

        <div *ngIf="isFormValid; else invalidForm" class="ui vertical buttons mdc-fab mdc-fab--extended app-fab--absolute" >
            <button type="submit" (click)="onSubmit()"
                    class="ui top attached large primary button">Submit</button>
            <button (click)="onClear()"
                     class="ui bottom attached large primary negative button">Clear</button>
        </div>
        <ng-template #invalidForm>
            <div class="ui vertical buttons mdc-fab mdc-fab--extended app-fab--absolute">
                <button type="submit" class="ui top attached large basic primary not-allowed button"
                data-position="left center" data-tooltip="Some obligatory fields are not selected !">
                Submit</button>
                <button (click)="onClear()"
                        class="ui bottom attached large primary negative button">Clear</button>
            </div>
        </ng-template>

        <!-- <div class="ui sticky fixed top">
            
            <div *ngIf="isFormValid; else invalidForm">
                <button type="submit" (click)="onSubmit()"
                        class="ui bottom attached large positive button">Submit</button>
            </div>
            <ng-template #invalidForm>
                <div  data-tooltip="Some obligatory fields are not selected !" data-position="bottom right">
                    <button type="submit" class="ui bottom attached basic large negative not-allowed button">
                        Submit</button>
                </div>
            </ng-template>            
        </div> -->

    </div>
</form>
