.not-allowed {
  cursor: not-allowed !important; 
}

.ui.basic.primary.not-allowed.button {
  background-color: white !important;
}

.large.text {
  font-size: 1.3rem;
}
.eight.wide.column {
  padding: 0.2em !important;
}

.ui.sticky {
   margin-top: 60px;
   margin-right: 1rem;
   margin-bottom: 15px;
   position: fixed;
}