/* You can add global styles to this file, and also import other style files */
/* @import '~angular-tree-component/dist/angular-tree-component.css'; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Introduces much bigger loading times. TODO after development to decide which icons we use and discard this import
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$color-openaire-main-blue: #222080;
$color-openaire-main-danger: #dc3545;

.Site
{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Site-header 
{
  padding: 10px 30px;
  @include media-breakpoint-down(md)
  { padding: 10px 15px; }
  @include media-breakpoint-down(sm)
  { padding: 5px 10px; }

  .header-stats-img
  {
    max-height: 100px;
    min-height: 50px;
  }
}


.Site-content 
{
  flex: 1 0 auto;
  width: 100%;
}

.Site-footer 
{
  background: $color-openaire-main-blue;
  font-size: 85%;

  .cc-attribution
  { text-align: center; color: rgba(255,255,255,.7); }
  
  .row.no-gutters div
  {
    margin-bottom: 10px;
    
    @include media-breakpoint-down(md)
    { text-align: center; }
  }
}

.Site-footer.container-fluid
{
  padding: 30px;
  
  @include media-breakpoint-down(md)
  { padding: 10px; }
}

.popover{
  font-size: 1rem;
  padding: 1rem;
}
//  These are for animation reference
// 
// .ui.vertical.animated.button .visible.content,
// .ui.vertical.animated.button .hidden.content {
//   -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease;
//   transition: top 0.3s ease, -webkit-transform 0.3s ease;
//   transition: top 0.3s ease, transform 0.3s ease;
//   transition: top 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
// }

// .ui.vertical.animated.button .visible.content {
//   -webkit-transform: translateY(0%);
//   transform: translateY(0%);
//   right: auto;
// }

// .ui.vertical.animated.button .hidden.content {
//   top: -50%;
//   left: 0%;
//   right: auto;
// }

// .ui.vertical.animated.button:focus .visible.content,
// .ui.vertical.animated.button:hover .visible.content {
//   -webkit-transform: translateY(200%);
//   transform: translateY(200%);
//   right: auto;
// }

// .ui.vertical.animated.button:focus .hidden.content,
// .ui.vertical.animated.button:hover .hidden.content {
//   top: 50%;
//   right: auto;
// }

ul.nav.nav-tabs {
  margin-bottom: 1.5rem;
}