/* You can add global styles to this file, and also import other style files */
/* @import '~angular-tree-component/dist/angular-tree-component.css'; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.Site {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Site-header,
.Site-footer {
  flex-shrink: 0;
}

.Site-content {
  flex: 1 0 auto;
  width: 100%;
}