<div [ngClass]="!schema.requiredField ? 
 'widget form-group field' : 
 (control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required field error' : 'widget form-group required field'"
  *ngIf="this.formProperty.visible">
  <label [attr.for]="id" class="horizontal control-label">
    {{schema.title}}
  </label>
  <span *ngIf="schema.description" class="formHelp">
    {{schema.description}}
  </span>
  <input *ngIf="schema.readOnly; else entitySelection" [attr.name]="name" type="hidden" [formControl]="control">
  <ng-template #entitySelection>
    <select class="custom-select" [formControl]="control" [attr.name]="name" [attr.disabled]="schema.readOnly">
      <option *ngIf="schema.placeholder" [label]="schema.placeholder" disabled></option>
      <option *ngIf="!schema.placeholder" label="Select one" disabled></option>
      <option *ngFor="let entity of entities" [value]="entity">{{ entity | titlecase }}</option>
    </select>
  </ng-template>
</div>