<div class="widget form-group field">
    <label [attr.for]="id" class="horizontal control-label">
      {{schema.title}}
    </label>
    <span *ngIf="schema.description" class="formHelp">
      {{schema.description}}
    </span>
    <input *ngIf="schema.readOnly; else aggregateSelection" [attr.name]="name" type="hidden" [formControl]="control">
    <ng-template #aggregateSelection>
      <ng-template let-option #aggregateOptionTemplate>
          {{ option | titlecase }}
      </ng-template>
      <sui-select class="selection" [options]="aggregateFunctions" [formControl]="control" [attr.name]="name" [attr.disabled]="schema.readOnly"
        placeholder={{schema.placeholder}} [optionTemplate]="aggregateOptionTemplate" #aggregateSelect>    
        <sui-select-option *ngFor="let aggregate of aggregateSelect.filteredOptions" [value]='aggregate'></sui-select-option>
      </sui-select>
    </ng-template>
  </div>