<div [ngClass]="!schema.requiredField ? 
'widget form-group field' : 
(control.touched || control.dirty) && (!this.control.valid)  ? 'widget form-group required field error' : 'widget form-group required field'" >
    <label [attr.for]="id" class="horizontal control-label">
      {{schema.title}}
    </label>
    <span *ngIf="schema.description" class="formHelp">
      {{schema.description}}
    </span>
    <input *ngIf="schema.readOnly; else aggregateSelection" [attr.name]="name" type="hidden" [formControl]="control">
    <ng-template #aggregateSelection>
      <sui-select class="selection" [options]="aggregateFunctions" [formControl]="control" [attr.name]="name" [attr.disabled]="schema.readOnly"
        placeholder={{schema.placeholder}} labelField="name" valueField="code" #aggregateSelect>    
        <sui-select-option *ngFor="let aggregate of aggregateSelect.filteredOptions" [value]="aggregate"></sui-select-option>
      </sui-select>
    </ng-template>
  </div>